.map {
    width: 100%;
    height: 300px;
}

#event_description {
    min-height: 100px;
    max-height: 150px;
}

.container a {
    color: #383d41;
}

a {
    color: #117a8b;
}

a:hover {
    color: #002752;
}

h3, .col-sm {
    color: white;
}

h1, h2 {
    color: black;
}

h3 {
    color: black;
}

.card, .textarea, .breadcrumb {
    opacity: 0.95;
}

.container {
    padding: 40px;
}