#wrapper {
    min-height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #343138;
    font-size: 40px;
}

.img {
    width: 100%;
}