.container {
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #117a8b;
}

a:hover {
    color: #002752;
}

button {
    color: white;
    background-color: #2c3e50;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.col-sm {
    padding-bottom: 20px;
}