* {box-sizing: border-box}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 40px;
}

/* Full-width input fields */
input[type=text], input[type=number], input[type=file], input[type=date]  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
