html, body {
    font-family: Candara;
    font-size: 17px;
    height: 100%;
    text-align: center;
}

.list-group-item {
    text-align: center;
    color: white;
    background-color: #1b1e21;
    border: none;
}

.wallpaper {
    height: 100%;
    border-bottom: black 4px solid;
    background: url("images/event2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#title {
    text-transform: uppercase;
    color: white;
    border-bottom: black 1px outset;
}

.navbar {
    margin-bottom: 0;
    border-radius: unset;
    background-color: black;
    font-size: 16px;
}

.container {
    background-color: #1b1e21;
    width: 100%;
}

#help {
    background-color: black;
    border-bottom: black 4px solid;
}




